{% extends "base.html" %}
{% block content %}

<div class="card p-4 mt-4" style="max-width: 650px; margin: auto;">

    <h4 class="fw-bold mb-3" style="color: var(--primary-blue);">
        Add Timetable Entry
    </h4>

    <form method="post">
        {% csrf_token %}

        <div>
            {% for field in form %}
            <div class="mb-3">
                <label class="fw-semibold" style="color: var(--primary-blue);">
                    {{ field.label }}
                </label>
                {{ field }} {# No attrs here #}
            </div>
            {% endfor %}
        </div>

        <button class="btn btn-accent mt-2">Save</button>
    </form>

</div>

{% endblock %}